{% load i18n %}

<div class="scormxblock_block">
    {% if scorm_xblock.has_score %}
    <p>(<span class="lesson_score">{{ scorm_xblock.lesson_score }}</span>/{{ scorm_xblock.weight }} {% trans "points" %}) <span class="completion_status">{% trans completion_status %}</span></p>
    {% endif %}
    {% if scorm_file_path %}
    <iframe class="scorm_object"
            src="{{ scorm_file_path }}"
            width="{% if scorm_xblock.width %}{{ scorm_xblock.width }}{% else %}100%{% endif %}"
            height="{{ scorm_xblock.height }}"></iframe>
    {% endif %}
</div>
