{% load i18n %}

<div class="openedxscorm_block">
    {% if index_page_url %}

    {% if scorm_xblock.has_score %}
    <p>
        (<span class="grade">{{ grade|floatformat }}</span>/{{ scorm_xblock.weight|floatformat }} {% trans "points" %})
        <span class="completion_status">{% trans completion_status %}</span>
    </p>
    {% endif %}

    <div class="js-scorm-block">
        <div class="scorm_button">
            <button class="full-screen-on">
                {% trans "Fullscreen" %}
            </button>
            <button class="full-screen-off">
                {% trans "Exit fullscreen" %}
            </button>
        </div>

        <iframe class="scorm_object" src="{{ index_page_url }}" width="{% if scorm_xblock.width %}{{ scorm_xblock.width }}{% else %}100%{% endif %}" {% if scorm_xblock.height %}height="{{ scorm_xblock.height }}" {% endif %}></iframe>
    </div>
    {% elif message %}
    <p>{{ message }}</p>
    {% endif %}
    {% if index_page_url and can_view_student_reports %}
    <div class="scorm-reports">
        <button class="view-reports reports-togglable">
            {% trans "View SCORM reports" %}
        </button>
        <span class="reports-togglable reports-togglable-off">
            <input type="text" placeholder="Student username or email" class="search-students">
            <button class="reload-report reports-togglable-off" alt="reload report">🗘</button>
            <div class="report"></div>
        </span>
    </div>
    {% endif %}
</div>