/* CSS for ScormXBlock */
.openedxscorm_block .scorm_object {
    border: none;
}

.openedxscorm_block span.setting-input-file {
    padding-left: 25%;
    margin-left: 14px;
    padding-top: 5px;
}

.openedxscorm_block span.setting-input-file span {
    font-weight: bold;
}

.openedxscorm_block .full-screen-scorm  .scorm_object {
    position: fixed;
    border: none;
    overflow: hidden;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 65px);
    z-index: 10000;
}

.openedxscorm_block .full-screen-scorm {
    position: fixed;
    border: none;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #ffffff;
}

.openedxscorm_block .scorm_button {
    padding-bottom: 20px;
}

.openedxscorm_block .full-screen-scorm .scorm_button {
    padding: 20px;
    height: 35px;
}

.openedxscorm_block .full-screen-off {
    display: none;
}

.openedxscorm_block .full-screen-scorm .full-screen-off {
    display: block;
}

.openedxscorm_block .full-screen-scorm .full-screen-on {
    display: none;
}

.openedxscorm_block .scorm-reports input {
    width: 500px;
}
.openedxscorm_block .reports-togglable-off {
    display: none;
}
