/* CSS for ScormXBlock */
.scorm-xblock .scorm-embedded {
    border: none;
}
.scorm-xblock span.setting-input-file {
    padding-left: 25%;
    margin-left: 14px;
    padding-top: 5px;
}
.scorm-xblock span.setting-input-file span {
    font-weight: bold;
}
.scorm-xblock button {
    height: 35px;
}

/* Fullscreen */
.scorm-xblock.fullscreen-enabled .scorm-embedded {
    position: fixed;
    border: none;
    overflow: hidden;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 65px);
    z-index: 10000;
}
.scorm-xblock.fullscreen-enabled .scorm-content {
    position: fixed;
    border: none;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #ffffff;
}
.scorm-xblock .fullscreen-controls {
    padding-bottom: 20px;
}
.scorm-xblock.fullscreen-enabled .fullscreen-controls {
    padding: 20px;
}
.scorm-xblock button.exit-fullscreen {
    display: none;
}
.scorm-xblock.fullscreen-enabled button.exit-fullscreen {
    display: block;
}
.scorm-xblock.fullscreen-enabled button.enter-fullscreen,
.scorm-xblock.fullscreen-enabled .scorm-reports {
    display: none;
}

/* Popup window */
.scorm-xblock:not(.can-popup) .popup-wrapper {
    display: none;
}
.scorm-xblock .popup-wrapper {
    text-align: center;
    padding: 20px;
}
.scorm-xblock.can-popup .fullscreen-controls,
.scorm-xblock.can-popup .scorm-embedded {
    display: none;
}

/* Reports */
.scorm-xblock .scorm-reports input {
    width: 500px;
}
.scorm-xblock .reports-togglable-off {
    display: none;
}
